<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    .bg-1 {
        background-color: #1abc9c;
        color:#555555;
    }
    .bg-2 {
        background-color: #fff;
        color: #555555;
    }
    .bg-3 {
        background-color: #555555;
        color: #ffffff;
    }
    table {
            border: solid 1px #555555;
            border-collapse: collapse;
            width: 1010px;
            height: 40px;
        }

        td, th {
            border: solid 1px #555555;
        }
    </style>
</head>
<body>
<div class="col-sm-9">
    <div class="container-fluid bg-1 text-center">
        <h2>Здесь предсталвна статистика на основе полученных от пользователей данных</h2></div>
    <div class="container-fluid bg-3 text-center">
        <p>Сами параметры не зависят друг от друга, они просто показывют какие ответы дали люди на вопросы</p></div>
    <div class="container-fluid bg-2 text-center">
    <table>
    <tr>
      <th colspan="7" align="center">Абсолютное значение ответов в зависимотси от параметров</th>
    </tr>
    <tr>
      <th> </th>
      <th colspan="2">Кеды</th>
      <th colspan="2">Кроссовоки</th>
        <th colspan="2">Тапки</th>
    </tr>
    <tr>
      <td rowspan="2">Формы</td>
        <td>верная форма</td>
        <td>неверная форма</td>
        <td>верная форма</td>
        <td>неверная форма</td>
        <td>верная форма</td>
        <td>неверная форма</td>
    </tr>
    <tr>
        <td>кед</td>
        <td>кеда</td>
        <td>кроссовка</td>
        <td>кроссовок</td>
        <td>тапка</td>
        <td>тапок</td>
    </tr>
    <tr>
        <td> </td>
        <td colspan="6">В зависимотси от родного языка</td>
    </tr>
    <tr>
        <td>Русский</td>
        <td>{{ rus_km }} </td>
        <td>{{ rus_kf }} </td>
        <td>{{ rus_krf }}</td>
        <td>{{ rus_krm }} </td>
        <td>{{ rus_tf }}</td>
        <td>{{ rus_tm }}</td>
    </tr>
    <tr>
        <td>Не русский</td>
        <td>{{ nrus_km }}</td>
        <td>{{ nrus_kf }} </td>
        <td>{{ nrus_krf }} </td>
        <td>{{ nrus_krm }}</td>
        <td>{{ nrus_tf }}</td>
        <td>{{ nrus_tm }}</td>
    </tr>
     <tr>
        <td> </td>
        <td colspan="6">В зависимотси от родного города</td>
    </tr>
    <tr>
        <td>Москва и МО</td>
        <td>{{ m_km }}</td>
        <td>{{ m_kf }}</td>
        <td>{{ m_krf  }}</td>
        <td>{{ m_krm }} </td>
        <td>{{ m_tf }}</td>
        <td>{{ m_tm }}</td>
    </tr>
    <tr>
        <td>Не Москва и МО</td>
        <td>{{ nm_km }}</td>
        <td>{{ nm_kf }}</td>
        <td>{{ nm_krf }}</td>
        <td>{{ nm_krm }}</td>
        <td>{{ nm_tf }}</td>
        <td>{{ nm_tm }}</td>
    </tr>
    <tr>
        <td> </td>
        <td colspan="6">В зависимотси от возраста</td>
    </tr>
    <tr>
        <td>Младше 18</td>
        <td>{{ l18_km }}</td>
        <td>{{ le18_kf }}</td>
        <td>{{ le18_krf }}</td>
        <td>{{ le18_krm }}</td>
        <td>{{ le18_tf }}</td>
        <td>{{ le18_tm }}</td>
    </tr>
    <tr>
        <td>От 19 до 30</td>
        <td>{{ from18_km }}</td>
        <td>{{ from18_kf }}</td>
        <td>{{ from18_krf }}</td>
        <td>{{ from18_krm }}</td>
        <td>{{ from18_tf }}</td>
        <td>{{ from18_tm }}</td>
    </tr>
    <tr>
        <td>От 31 до 50</td>
        <td>{{ from30_km }}</td>
        <td>{{ from30_kf }}</td>
        <td>{{ from30_krf }}</td>
        <td>{{ from30_krm }}</td>
        <td>{{ from30_tf }}</td>
        <td>{{ from30_tm }}</td>
    </tr>
    <tr>
        <td>51 +</td>
        <td>{{ fr50_km }}</td>
        <td>{{ fr50_kf }}</td>
        <td>{{ fr50_krf }}</td>
        <td>{{ fr50_krm }}</td>
        <td>{{ fr50_tf }}</td>
        <td>{{ fr50_tm }}</td>
    </tr>
    <tr>
        <td> </td>
        <td colspan="6">В зависимотси от пола</td>
    </tr>
    <tr>
        <td>Женский</td>
        <td>{{ fe_km }}</td>
        <td>{{ fe_kf }} </td>
        <td>{{ fe_krf }} </td>
        <td>{{ fe_krm }}</td>
        <td>{{ fe_tf }}</td>
        <td>{{ fe_tm }}</td>
    </tr>
    <tr>
        <td>Мужской</td>
        <td>{{ male_km }}</td>
        <td>{{ male_kf }}</td>
        <td>{{ male_krf }}</td>
        <td>{{ male_krm }}</td>
        <td>{{ male_tf }}</td>
        <td>{{ male_tm }}</td>
    </tr>
    <tr>
        <td> </td>
        <td colspan="6">В зависимотси от уровня образования</td>
    </tr>
    <tr>
        <td>Без высшего образования</td>
        <td>{{ low_km }}</td>
        <td>{{ low_kf }}</td>
        <td>{{ low_krf }}</td>
        <td>{{ low_krm }}</td>
        <td>{{ low_tf }}</td>
        <td>{{ low_tm }}</td>
    </tr>
    <tr>
        <td> С высшим образованием</td>
        <td>{{ high_km }}</td>
        <td>{{ high_kf }}</td>
        <td>{{ high_krf }}</td>
        <td>{{ high_krm }}</td>
        <td>{{ high_tf }}</td>
        <td>{{ high_tm }}</td>
    </tr>
</table>
        </div>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
<h3>Вы можете перейти по ссылкам</h3>
<ul>
    {% for name, url in urls.items() %}
    <li><a href="{{ url }}">{{ name }}</a></li>
    {% endfor %}
</ul>
</div>
</div>
</div>
</body>
</html>